.dash-top{
    background-color: black;
    height: 8vh;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-top: 11px;
}
.dash-bottom{
    display: flex;
    height: 92vh;
}
.dash-bottom .dash-left{
    background-color: var(--bgorange);
    height: 100%;
    width: 250px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
}

/* stylisation des elements de la bande d'entête */
.dash-top input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.dash-top .dropdown button{
   width: 150px;
   border: none;
   background-color: var(--bgorange);
   height: 40px;
}
.dash-top .dropdown-menu {
  padding: 0;
}
.dash-top .dropdown-menu li a{
   background-color: black;
   color: white;
   border-radius: 5px;
}

#logo{
    color: white;
    font-size: 30px !important;
    font-weight: bold;
}
#logo sup{
    font-size: 18px !important;
    font-weight: lighter;
}

/* stylisation des elements de la bande gauche (sidebar) */

.dash-bottom .dash-left .links {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}
.dash-bottom .dash-left .links a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}
.dash-bottom .dash-left .links i{
    color: black;
}

#image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}